<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- 
    
 
    -->
    <a href="">
        home
    </a>
    || &nbsp;&nbsp;
    <!-- 
    
    -->
    ||
    <a href="/student/view">
        view
    </a>
    || &nbsp;&nbsp;
    <!-- 
    
    -->
    ||
    <a href="/student/edit/{{1}}">
        edit
    </a>
    || &nbsp;&nbsp;
<!-- 
    
-->
  
    <br>
    <h1>HOME PAGE</h1>
    
</body>
</html>